body{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar{
  display: grid;
  grid-template-columns: repeat(1, auto)1fr;
  width: 100%;
  background-color: rgb(117, 169, 228);
  
  margin-bottom: 1em;
  box-shadow: 1em 2em 2em rgba(161, 161, 161, 0.3);
}

.title{
  padding: 0 1em;
  text-shadow: 2em 4em 3em rgba(161, 161, 161, 0.3);
}

.main {
  display: grid;
  grid-template-columns: repeat(1, auto)1fr;
  width: 90vw;
  margin: 0 auto;
  max-width: 100%;
  box-shadow: 1em 2em 2em rgba(161, 161, 161, 0.3);
  height: 90vh;
}

.projects{
  background-color: rgba(255, 255, 255, 0.26);
}

.projectsContainer {
  display: grid;
  grid-template-columns: repeat(3, auto)1fr;
  width: 100%;
  max-width: 100%;
}

.project{
  display: grid;
  width: .9fr;
  margin: 0 auto;
  max-width: 100%;
  background-color: rgb(117, 169, 228);
  padding: .5em;
  margin: .5em;
}
