body{
  font-family: 'Roboto',Arial, Helvetica, sans-serif
}

.title{
  font-family: 'Merriweather';
  margin: 1rem;
  text-shadow: 2em 4em 3em rgba(161, 161, 161, 0.3);
  font-size: 8vw;
}

.main {
  margin:auto;
  width: 70%;
  max-width: 100%;
  /* box-shadow: 1rem 2em 2em rgba(161, 161, 161, 0.3); */
}

.sectionHeader{
  font-family: 'Merriweather';
  padding: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 4vw;
  text-shadow: 0;
}

.image-container{
  padding: 1rem;
}

.bio{
  margin-bottom: 0rem;
}

/* .bio-content{
  display: grid;
  grid-gap: 1rem;
  /* grid-template-areas: 
  "bio-img bio-text bio-text bio-text" 
} */

.bio-img{
grid-area: bio-img;
width: 25vw;
border-radius: 10em;
max-width: 200px;
box-shadow: 0 10px 10px 0px rgba(24, 23, 23, 0.596);
margin: 1rem;
}

.bio-text{
grid-area: bio-text;
font-size: 1.25rem;
margin: 1rem;
}

.content{
  width: 100%;
}

/* .contact-container{
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: 
  "contact linkedin github resume";
} */

.icon-img{
  margin:1rem 1rem;
  width: 7vw; 
  object-fit: contain;
}

.contact{
   font-family: 'Merriweather';
  font-weight: 400;
  margin: auto;
  /* margin-left: 0; */
  padding:0;
  font-size: 5vw;
  grid-area: contact;
}

.linkedin{
grid-area: linkedin;
}

.github{
grid-area: github;
}

.resume{
grid-area: resume;
}

.projectsContainer {
  padding-bottom: 5rem;
  margin: auto;
  display: grid;
  grid-gap: 1rem;
 grid-template-areas:
 "project0" 
  "project1" 
  "project2";
  
}

.project0 {
  grid-area: project0;
}

.project0-header{
/* background-color: rgb(146, 196, 172); */
padding: 1rem;
}

.project0-text{
/* background-color: rgba(199, 64, 46, 0.952); */
padding: 1rem;
/* color: rgb(255, 239, 219); */
}

.project1 {
  grid-area: project1;
}

.project1-header{
/* background-color: rgb(146, 196, 172); */
padding: 1rem;
}

.project1-text{
/* background-color: rgba(199, 64, 46, 0.952); */
padding: 1rem;
/* color: rgb(255, 239, 219); */
}


.project2 {
  grid-area: project2;
}

.project2-header{
/* background-color: rgb(146, 196, 172); */
padding: 1rem;
}

.project2-text{
/* background-color: rgba(199, 64, 46, 0.952); */
padding: 1rem;
/* color: rgb(255, 239, 219); */
}
/* .theme{
  background-color: rgb(173, 221, 193);
  box-shadow: 0px 0px 7px -2px rgba(0,0,0,0.71)
} */


/* .accent{
  color: rgb(255, 255, 255);
  /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.767); 
} */

.card{
  margin: 1rem 2rem;
  box-shadow: 0px 0px 7px -2px rgba(0,0,0,0.71);
  /* box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.71); */
}

.card-header{
  font-family: 'Merriweather';
  font-weight: bold;
  /* margin: .5rem .5rem; */
}

.card-img{ 
  width: 100%; 
  object-fit: contain;
}

.card-link, .card-link:visited {
  color: inherit;
  text-decoration: none;
}

.card-link:hover {
  color: dodgerblue;
  cursor: pointer;
}

@media only screen and (min-width: 720px) {

.card-img{
  width: 100%;
    object-fit: contain;
}

.card{
  margin: 0;
}

.bio-content{
  margin: auto;
    width:80vw;
  /* display: grid;
  grid-gap: 1rem; */
  /* grid-template-areas: 
  "bio-img bio-text bio-text bio-text"
  "bio-img"; */
}

.content{
  margin: auto;
  width:80vw;
}

/* .contact-container{
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: 
  "contact linkedin github resume";
} */

.contact{
  font-family: 'Merriweather';
  font-weight: 400;
  margin: auto;
  margin-left: 0;
  padding:0;
  font-size: 3vw;
  grid-area: contact;
}

.icon-img{
  margin:1rem 1rem;
  width: 4vw; 
  object-fit: contain;
}

.sectionHeader{
  font-family: 'Merriweather';
  padding: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 3vw;
  text-shadow: 0;
}


.projectsContainer{
    
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
  "project0 project1 project2"
 ;
}

.main {
  max-width: 100%;
  width: 100%;
  box-shadow: 1rem 2em 2em rgba(161, 161, 161, 0.3);
  }

}
